
.list {
    font-family: Arial, sans-serif;
    margin: 0px 5rem;
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 2rem;
  }

  .dash{
    background-color: aqua;
    display: flex;
    width: 100%;
    padding: 0.60rem 0;

    
  }
  .logout{
    padding: 10px 10px;
    color: black;
    background-color: aqua;
    border: 0;
    font-size: 19px;
  }
  .newuserButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .searchContainer{
    width: 50%;
    display: flex;
    margin-top: 1rem;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  
  .tableHeader {
    padding: 12px;
    background-color: #f2f2f2;
    text-align: left;
    border-bottom: 2px solid #ddd;
    text-align: center;

  }
  
  .tableRow {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 50px;
}
  
  .actionButtons {
    display: flex;

    gap: 10px;
    margin-top: 1rem;
  }
  
  .blockButton {
    width: 20%;
    padding: 6px 12px;
    background-color: #FF6347; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .unblockButton {
    padding: 6px 12px;
    width: 20%;
    background-color: #32CD32; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .loginsButton {
    padding: 6px 12px;
    background-color: #1E90FF; /* Blue */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .updateButton {
    padding: 6px 12px;
    width: 20%;

    background-color: #FFD700; /* Yellow */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .removeButton {
    padding: 6px 12px;
    width: 20%;

    background-color: #DC143C; /* Crimson */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  